.item{
  &__image{
    img{
      border-radius: $border-radius;
    }
  }
  &__name{
    color: $optgray;
    font-weight: 300;
    font-size: $h5-font-size;
  }
  &__price{
    color: $dark;
    font-weight: $font-weight-bold;
    font-size: 14px;
  }
  &__seller-check{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__dress-detail{
    small{
      font-size: 9px;
      color: $secondary;
      margin-top: -4px;
      display: block;
    }
  }
}

//item detail
.item{
  &__detail{
    margin-top: 40px;
    @media(max-width: 767px){
      margin-top: 0;
    }
  }
  &__info{
    margin-top: $space-xxm;
    li{
      border-bottom: 1px solid $lightgray;
      padding: 12px 0;
      display: table;
      width: 100%;
      &:last-child{
        border: none;
      }
      &:first-child{
        border-top: 1px solid $lightgray;
        @include media-breakpoint-down(sm){
          border-top: 0;
        }
      }
    }
  }
  &__img-collection{
    padding-right: 51px;
    position: relative;
    height: 100%;

    @include media-breakpoint-down(sm){
      padding-right: $space-s;
    }
    @include media-breakpoint-down(xs){
      padding-right: 0;
    }
  }
  &__subtitle,
  &__short-info{
    display: table-cell;
  }
  &__subtitle{
    color: $secondary;
    font-weight: 300;
    width: 30%;
  }
  &__subtitle-review {
    display: inline-block;
    color: $secondary;
    font-weight: 300;
  }
  &__short-info{
    color: $primary;
    font-weight: 600;
  }
  &__price{
    span:first-child{
      font-size: $space-xxm;
    }
    span:last-child{
      font-size: 12px;
      color: $optgray;
      font-weight: 300;
    }
  }
  &__image-col,
  &__detail-col{
    @media(max-width: 767px){
      width: 100%;
      max-width: 100%;
      flex: 100%;
    }
  }
  &__image-col{
    @include media-breakpoint-down(xs){
      padding: 0;
    }
  }
  &__review{
    border-top: 1px solid $lightgray;
    .fa.fa-star{
      color: $warning;
      padding: 0 1.5px;
      padding-bottom: 5px;
    }
    .fa.fa-star.disabled{
      color: $concrete;
    }
  }
  &__review-content{
    padding-left: 40px;
    @media(max-width: 767px){
      padding-left: 60px;
    }
  }
  &__reviewer-name{
      font-size: 14px;
      font-weight: bold;
      color: $violet;
      padding-bottom: 5px;
    }
  &__reviewer-content{
    font-size: 14px;
    padding-bottom: 5px;
  }
  &__review-date{
    color: $secondary;
    padding-bottom:21px;
  }
}
.h-items-5{
  .item__name{
    font-size: 11px;
  }
}

@include media-breakpoint-down(sm){
  .col-spacing-sm{
    &__item-list{
      .row.row-items-5{
        margin: 0 -4px;
        display: block;
        overflow-x: auto;
        &::-webkit-scrollbar{
          display: none;
          background: transparent;
        }
      }
      .col-2dot4{
        padding: 0 4px;
        min-width: 168px;
        display: table-cell;
        .item__image{
          max-width: 168px;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs){
  .item{
    &__image{
      img{
        border-radius: 0;
      }
    }
    &__name-d{
      margin-top: $space-xm;
    }
  }
  .col-spacing-sm{
    .col-12{
      padding: 0;
    }
    &__item-list{
      .row{
        margin-right: -2px;
        margin-left: -2px;
      }
      .col-6{
        padding: 0 2px;
      }
    }
    .item__name,
    .item__price{
      padding: 0 $space-s
    }
    .item__name{
      padding-top: $space-s;
    }
  }
  .col-spacing-sm{
    &__item-list{
      .row.row-items-5{
        margin-right: -$space-xm;
        .item__image img{
          border-radius: $border-radius;
        }
      }
    }
  }
}
